.modal {
    height: 100vh;
    width: 100vw;
    padding: 80px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: 1; */
    /* opacity: 0; */
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    display: flex;
    gap: 60px;
    transition: 0.4s all;
}

.modalImg {
    max-width: 100%;
    height: auto;
}