.features_section {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}


.description_block {
    margin-bottom: 64px;
}

.features {
    color: #AA8CEF;
    font-size: 16px;
    margin-bottom: 12px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.highlight {
    color: #AA8CEF;
}

.features_description {
    color: #475467;
    font-size: 20px;
    max-width: 670px;
    line-height: 30px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.features_h3 {
    color: #101828;
    font-size: 36px;
    margin-bottom: 20px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.feature_card {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

.feature_items {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.feature_link {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #AA8CEF;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.feature_card_container {
    padding-top: 32px;
}

.feature_title_card {
    margin-bottom: 8px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.features_description_card {
    margin-bottom: 20px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.feature_card_content {
    max-width: 440px;
}

.feature_card_icons {
    position: relative;
    top: -20px;
}

.boxing_container {
    position: relative;
}

.arrow {
    position: absolute;
    top: -105px;
    left: 140px;
}