.navBar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.activeLink {
  text-decoration: none;
  color:  #7F56D9;
}

.navItem:last-child {
  margin-left: 30px;
}