.header {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  background-color: #080F21;
  position: fixed;
  z-index: 1;
  transition: background-color 0.3s ease;
  top: 0;
}

.headerContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.btnsContainer {
  display: flex;
  align-items: center;
  gap: 60px;
}

