.btns {
    width: 95px;
    height: 44px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
}

.btns:hover {
    background-color: #7F56D9;
}

.btn_guest {
    padding: 16px 28px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #344054;
    cursor: pointer;
    border-radius: 8px;
}

.btn_sign_up {
    padding: 16px 28px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 8px;
}

.btn_sign_up:hover {
    background-color: #7F56D9;
}