.footer {
    padding: 30px 80px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.footerContainer {
    margin-bottom: 64px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}

.footerLinkContainer {
    display: flex;
    gap: 10px;
}

.footerTeamInfo p {
    margin: 0;
    padding-bottom: 10px;
}

.footerLink {
    color: #0077B5;
    background-color: white;
    width: 16px;
    height: 16px;
}

.divider {
    margin-bottom: 32px;
    width: 100%;
    height: 2px;
    background-color: #F4EBFF;
}

.infoLinkFooter {
    margin: 0px 64px;
    display: flex;
    justify-content: space-between;
}

.infoLinkFooter p {
    color: #344054;
}

.linkStyle {
    font-size: 16px;
    color: #344054;
    text-decoration: none;
}

.linkContainer {
    display: flex;
    gap: 16px;
}

.inputEmail {
    display: flex;
    gap: 16px;
}

.stayInTouch {
    margin-bottom: 16px;
    line-height: 20px;
    font-size: 14px;
    color: #344054;
}

.emailFooter {
    padding: 7px 40px 7px 8px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
}