.card {
    /* margin-right: 40px; */
    /* margin-left: 0px; */
    width: 400px;
    top: 20px;
    padding: 20px 20px 32px 20px;
    background-color: #FFFFFF;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}



.card:hover .cardSizes {
    display: block;
}


.cardImg {
    width: 100%;
    margin-bottom: 16px;
}

.cardTitle {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
    color: #101828;
}

.cardPrice {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    color: #101828;
}

.cardColors,
.cardSizes {
    margin-bottom: 32px;
}

.cardSizes {
    display: none;
}



label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #344054;
}

.btnsColor {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.colorButton {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.colorButton.active {
    transform: scale(1.2);
}

.sizeButton {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F3F3F3;
    font-size: 0.9em;
    transition: transform 0.3s ease;
}

.btnsSizes {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.sizeButton.active {
    background-color: #F3F3F3;
    color: #BEC0C1;
    transform: scale(1.1);
}