.main_banner {
    background-color: #080F21;
    padding-top: 15px;
    position: relative;
    overflow: hidden;
}

.main_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 200px;
}

.gridient {
    position: absolute;
    top: -70px;
    left: 70%;
    transform: translateX(-50%);
    width: 100%;
}

.main_title_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    transform: translate(0%, 60%);
}

.main_title_one,
.main_title_two {
    max-width: 100%;
}

.main_sportego {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.image_one,
.image_two,
.image_three {
    max-width: 100%;
}

.image_one {
    transform: translate(61%, 26%);
}

.image_two {
    transform: translate(-8%, 25%);
}

.image_three {
    transform: translate(-60%, 26%);
}

.main_banner_btns {
    display: flex;
    justify-content: center;
    gap: 12px;
}